// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
   body.active_admin {
      .status_tag { background: #6090DB; }
   }
img-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)


//@import "foundation";


//require jquery.ui.all.css

//@import "http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"
// require jquery.ui.core
// require jquery.ui.theme

// require simpletabs

//= require themes/default/easyui
//= require themes/icon

////-----------my hacks-----
.label {
  background-color:#dddddd;
}
$color_tab_fon:#FFFFDD;
.fon-yellow {
  background-color:#FFFFDD;
}

.tabs-wrap .tabs {
  margin: 0 1.5em 0em 0;
}
.tabs li.tabs-selected a.tabs-inner {
  background-color: $color_tab_fon;
}
.have-item {
  background-color:$color_tab_fon;
}
.want-item {
  background-color:$color_tab_fon;
}
.row-fluid .span11 {
  width: 91.43646408839778%;
  *width: 91.38327259903608%;
}
.row-fluid .span10 {
  width: 82.87292817679558%;
  *width: 82.81973668743387%;
}
.row-fluid .span9 {
  width: 74.30939226519337%;
  *width: 74.25620077583166%;
}
.row-fluid .span8 {
  width: 65.74585635359117%;
  *width: 65.69266486422946%;
}
.row-fluid .span7 {
  width: 57.18232044198895%;
  *width: 57.12912895262725%;
}
.row-fluid .span6 {
  width: 48.61878453038674%;
  *width: 48.56559304102504%;
}
.row-fluid .span5 {
  width: 40.05524861878453%;
  *width: 40.00205712942283%;
}
.row-fluid .span4 {
  width: 31.491712707182323%;
  *width: 31.43852121782062%;
}
.row-fluid .span3 {
  width: 22.92817679558011%;
  *width: 22.87498530621841%;
}
.row-fluid .span2 {
  width: 14.3646408839779%;
  *width: 14.311449394616199%;
}
.row-fluid .span1 {
  width: 5.801104972375691%;
  *width: 5.747913483013988%;
}
.inline {
  display: inline;
}
.inline,select,input {
  display: inline;
}
.clear {
  clear: both;
}
.have_dop input {
  tab-size: 80;
  float:left;margin:5px;display:block;
}
//-----------bb-form------
/* Form */
.bbf-form {
  margin: 0;
  padding: 5px;
  border: none;
}


/* Field */
.bbf-field {
  width:95%;
  margin: 2em;
  padding: 5px;
  list-style-type: none;
  position: relative;
clear: both;

}

.bbf-field label {
  float: left;
  width: 25%;
}

.bbf-field .bbf-editor {
  margin-left: 25%;
  width: 74%;
}

.bbf-field input, .bbf-field textarea, .bbf-field select {
  width: 100%;
}

.bbf-field .bbf-help {
  margin-left: 25%;
  width: 74%;
  color: #999;
}

.bbf-field .bbf-error {
  margin-left: 25%;
  width: 74%;
  color: red;
}

.bbf-field.bbf-error .bbf-editor {
  outline: 1px solid red;
}


/* Radio */
.bbf-radio {
  list-style-type: none;
}

.bbf-radio input {
  width: auto;
}

.bbf-radio label {
  float: none;
}


/* Checkboxes */
.bbf-checkboxes {
  list-style-type: none;
}

.bbf-checkboxes input {
  width: auto;
}

.bbf-checkboxes label {
  float: none;
}


/* List */
.bbf-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bbf-list .bbf-error {
  border: 1px solid red;
}

.bbf-list li {
  clear: both;
  width: 100%;
}

.bbf-list li .bbf-editor-container {
  margin-right: 2em;
}

.bbf-list li .bbf-remove {
  float: right;
  width: 2em;
}

.bbf-list .bbf-actions {
  text-align: center;
  clear: both;
}

/* List.Modal */
.bbf-list-modal {
  cursor: pointer;
  border: 1px solid #ccc;
  width: 208px;
  border-radius: 3px;
  padding: 4px;
  color: #555;
}



/* Date */
.bbf-date .bbf-date {
  width: 4em;
}

.bbf-date .bbf-month {
  width: 9em;
}

.bbf-date .bbf-year {
  width: 6em;
}


/* DateTime */
.bbf-datetime .bbf-date-container {
  float: left;
  margin-right: 1em;
}

.bbf-datetime select {
  width: 4em;
}
/* ----my BB-form--------- */
.bbf-field.field-obj_id {width:50%;float: left;}
.bbf-field.field-room {width:30%;float:left}
.bbf-field.field-obmen_want {display:inline;width:30%;float:left;}
.bbf-field.field-sell_want {display:inline;width:30%;float:left;}
.bbf-field.field-rent_want {display:inline;width:30%;float:left;}



